@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@400,800,900&display=swap');


/* Shared style */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.text-orange {
  color: rgb(255, 84, 0);
}

.button-color {
  border: none;
  background-color: rgb(255, 84, 0);
  color: white;
}

.button-more {
  width: 175px;
  height: 55px;
  font-weight: 700;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 84, 0);
  color: white;
  margin-top: 32px;
}

.secton-title {
  font-weight: 800;
  font-size: 2.5rem;
  color: rgb(19, 19, 24);
  margin-bottom: 24px;
}

.discription-font {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(19, 19, 24, 0.7);
}

/* --------------------- */

/* nav section */
header {
  margin: 60px auto;
  padding: 0 100px;
  max-width: 1400px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-3bar {
  display: none;
}

.logo-name {
  display: flex;
  gap: 17px;
  align-items: center;
}

.logo-name>h3 {
  font-weight: 800;
  font-size: 2.25rem;
  margin: 0;
  color: rgb(19, 19, 24);
}

.nav-options>ul {
  list-style: none;
  display: flex;
  gap: 44px;
  font-weight: 400;
  font-size: 1.12rem;
  color: rgb(66, 66, 71);
}


/* banner section */
.banner-section {
  margin: 50px 0;
  width: 100%;
  height: 500px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(Images/banner.png);
  background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url(Images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-container {
  width: 70%;
  text-align: center;
}

.banner-title {
  font-weight: 800;
  font-size: 4rem;
  color: white;
  margin: 0;
}

.banner-discription {
  font-weight: 400;
  font-size: 1rem;
  color: white;
  max-width: 675px;
  margin: 24px auto;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 48px;
}

.search-box {
  width: 21%;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(19, 19, 24, 0.5);

}

.search-button {
  border: none;
  background-color: rgb(255, 84, 0);
  color: white;
}

.search-div>input {
  width: 17.656%;
}

.search-div>button {
  font-weight: 700;
  font-size: 1rem;
  color: white;
}


/* main secton started */
main {
  max-width: 1400px;
  margin: 100px auto;
  padding: 0 100px;
}

section {
  margin-bottom: 100px;
}

/* popular tour section */
.popular-tour-section {
  display: flex;
  justify-content: space-between;
}

.tour-content {
  width: 50%;
}

.popular-tour-section>img {
  width: 45%;
}

.tour-content>ul {
  padding-left: 20px;
}

.discription-font>li {
  margin-bottom: 16px;
}

.readmore-button {
  width: 175px;
  height: 55px;
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  margin-top: 32px;
}


/* reason to chose section */
.reason-content {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.reason-content {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(19, 19, 24, 0.7);
}

.reason-card-div-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}


.reason-card {
  width: 48.5%;
  padding: 36px;
}

.reason-card>img {
  width: 65px;
}

.reason-card>h4 {
  font-weight: 800;
  font-size: 1.5rem;
  color: rgb(19, 19, 24);
  margin: 32px 0 16px 0;
}

#reason-card-1 {
  box-sizing: border-box;
  border: 1px solid rgba(251, 181, 99, 0.2);
  border-radius: 16px;
  background: rgba(251, 181, 99, 0.05);
}

#reason-card-2 {
  box-sizing: border-box;
  border: 1px solid rgba(41, 206, 246, 0.2);
  border-radius: 16px;
  background: rgba(41, 206, 246, 0.05);
}

#reason-card-3 {
  box-sizing: border-box;
  border: 1px solid rgba(233, 68, 68, 0.2);
  border-radius: 16px;
  background: rgba(233, 68, 68, 0.05);
  margin: 24px auto;
}


/* destination section */
.destination-content {
  max-width: 643px;
  text-align: center;
  margin: 0 auto;
}

.maldives {
  grid-area: img-1;
}

.indonesia {
  grid-area: img-2;
}

.srilanka {
  grid-area: img-3;
}

.northAmerica {
  grid-area: img-4;
}

.kashmir {
  grid-area: img-5;
}

.bangladesh {
  grid-area: img-6;
}

.bandarban {
  grid-area: img-7;
}


.destination-img-container>div {
  position: relative;
}

.destination-img-container {
  margin-top: 50px;
  display: grid;
  grid-template:
    'img-1 img-1 img-1 img-1 img-2 img-2 img-2 img-2'
    'img-3 img-3 img-4 img-4 img-4 img-4 img-5 img-5'
    'img-6 img-6 img-6 img-7 img-7 img-7 img-7 img-7';
  gap: 30px;
  position: relative;
}

.destination-img-container img {
  width: 100%;
  height: 330px;
  background: rgba(19, 19, 24, 0.2);
  border-radius: 16px;
  z-index: 1;
}

.img-name {
  font-weight: 800;
  font-size: 1.75rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


/* suggested place section */
.place-suggest-section {
  display: flex;
  justify-content: space-between;
}

.place-suggest-section>div {
  width: 48.25%;
}

.suggest-list {
  font-weight: 700;
  font-size: 1rem;
  color: rgb(19, 19, 24);
  margin-top: 24px;
}

.suggest-place-img {
  position: relative;
}

.suggest-place-img>img {
  width: 100%;
  height: 100%;
}

#video-template {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 2%;
  width: 98%;
  height: auto;
}


/* newsletter section */
.newsletter-section {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.newsletter-content {
  width: 35%;
  height: 340px;
  border: 1px solid rgb(255, 84, 0);
  border-radius: 16px;
  padding: 40px;

}

.newsletter-content>h3 {
  font-weight: 800;
  font-size: 1.5rem;
  color: rgb(19, 19, 24);
  margin-bottom: 16px;
}

.newsletter-input-box {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.newsletter-input-box>input {
  border: none;
  border-radius: 8px;
  background: rgba(54, 54, 61, 0.05);
  width: calc(100% - 32px);
  padding: 16px;
  margin-bottom: 16px;
  color: rgba(19, 19, 24, 0.3);
}

.newsletter-input-box>button {
  width: 100%;
  margin-top: 8px;
}

.newsletter-images {
  width: 55%;
  height: 423px;
  border-radius: 16px;
  position: relative;
}

.newsletter-images>img {
  width: 100%;
  height: 100%;
}

.discount-sticker {
  width: 48%;
  height: 120px;
  border-radius: 16px;
  background: rgb(255, 84, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15%;
  right: 2%;
  transform: rotate(-20deg) ;
}

.discount-sticker>p{
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.discount-sticker>h5{
  font-weight: 800;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  
}


/* ---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media----------------------
---------------Media---------------------- */
/* responsive media querry */
@media screen and (max-width:600px) {

  /* shared style */
  header,
  main {
    padding: 20px;
    margin: 20px auto;
  }

  section {
    margin-bottom: 30px;
  }

  .banner-section {
    margin: 20px 0;
  }

  .search-div,
  .popular-tour-section,
  .reason-card-div-1,
  .place-suggest-section {
    flex-direction: column;
  }

  .secton-title {
    font-size: 1.25rem;
  }

  .discription-font {
    font-size: 0.875rem;
  }

  /* shared style */

  .nav-options {
    display: none;
  }

  .nav-3bar {
    display: block;
  }

  .logo-name>h3 {
    font-size: 1.4rem;
  }

  .logo-name>img {
    width: 30px;
  }

  .banner-container {
    width: 85.5%;
  }

  .banner-title {
    font-size: 1.5rem;
  }

  .banner-discription,
  .tour-discription {
    font-size: 0.857rem;
  }

  .search-box {
    width: 90%;
    margin: 8px;
  }

  .search-div>input {
    width: 79.5532%;
  }

  .tour-section-title {
    font-size: 1.25rem;
  }

  .tour-content {
    width: 100%;
  }

  .popular-tour-section>img {
    width: 100%;
    margin-top: 24px;
  }

  .reason-content {
    width: 90%;
  }

  .reason-card,
  .place-suggest-section>div {
    width: 100%;
  }

  #reason-card-1 {
    margin-bottom: 24px;
  }

  .destination-img-container {
    grid-template:
      'img-1'
      'img-2'
      'img-3'
      'img-4'
      'img-5'
      'img-6'
      'img-7';
    gap: 20px;
  }

  .suggest-place-img {
    margin-top: 24px;
  }


}